/***
this css has the video list stuff
***/

/**
main
**/
main {
	/* style */
	padding: 35px 40px;
	/* layout */
	display: block;
	text-align: -webkit-center;
	transition: all 0.5s;
}
.announcement {
	position: fixed;
	top: 44px;
	width: 100%;
	background: linear-gradient(#d85e27, #b13b07);
	transition: all 0.5s;
}
.announcement.hidden {
	top: -35px;
}
.announcement.default {
	background: linear-gradient(#d85e27, #b13b07);
}
.announcement.green {
	background: linear-gradient(#27d84d, #07b154);
}
.announcement.yellow {
	background: linear-gradient(#d8bd27, #b19207);
}
.announcement.red {
	background: linear-gradient(#d82727, #b10707);
}
.announcement.gray {
	background: linear-gradient(#808080, #5c5c5c);
}
.announcement.blue {
	background: linear-gradient(#2774d8, #073db1);
}
.announcetext {
	text-align: center;
	margin: 0;
	padding: 5px 50px;
	font-size: 16px;
	width: 100%;
}
.announceclose {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.listheader {
	position: relative;
	width: 1200px;
	border-bottom: 1px solid #ccc;
}
.videolist {
	width: 1100px;
	margin-top: 10px;
}
.video {
	background: linear-gradient(#292929, #141414);
	box-shadow: inset 0 1px 0 0 #ffffff1a, 0 2px 0 0 #0000006e;
	color: #fff;
	text-align: center;
	text-decoration: none;
	max-width: 150px;
	width: 302px;
	height: 230px;
	border-radius: 6px;
	padding: 3px;
	display: inline-table;
	position: relative;
	margin: 5px;
	transition: all 0.5s;
}
.video:hover {
	box-shadow: inset 0px 1px 0 0px #ffffff1a, 0px 5px 8px 0px #0000006e;
}
.imgholder {
	position: relative;
	border-radius: 6px;
	width: 284px;
	height: 167px;
}
.videothumb {
	height: 160px;
	filter: blur(0.1px) brightness(100%); 
	backdrop-filter: blur(0.1px);
	transition: all 0.5s;
}
.video:hover>.imgholder>.videothumb {
	filter: blur(2px) brightness(50%); 
	backdrop-filter: blur(2px);
	transition: all 0.5s;
}
.videoduration {
	position: absolute;
	bottom: 12px;
	right: 0;
	opacity: 0;
	z-index: 1;
	min-width: 40px;
	height: 22px;
	border-radius: 6px;
	background: linear-gradient(#666666cc, #444444cc);
	box-shadow: inset 0px 1px 0 0px #ffffff1a, 0px 2px 5px 0px #0000006e;
	transition: all 0.5s;
}
.video:hover>.imgholder>.videoduration {
	opacity: 1;
	right: 5px;
}
.videooptions {
	background: linear-gradient(#292929, #141414);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 212px;
	opacity: 0;
	z-index: 1;
	background-color: #141414;
	padding: 6px;
	border-radius: 6px;
	box-shadow: inset 0px 1px 0 0px #ffffff1a, 0px 5px 8px 0px #0000006e;
	transition: all 0.5s;
}
.option {
	margin-top: 5px;
	height: 40px;
	width: 40px;
	display: inline-block;
}
.video>a, .video>a:visited {
	color: #fff;
	text-decoration: none;
}
.video>a>img, .video>div>img {
	border-radius: 6px;
}
.video>a>p, .video>div>p {
	margin: 0;
}
.video:hover>.imgholder>.videooptions {
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.5s;
}
.videoname {
	width: 90%;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
}
.optionimg {
	height: 35px;
}
@media(max-width: 1280px) {
	.listheader {
		width: 100%;
	}
	.videolist {
		width: 95%;
	}
}
@media(max-width: 1040px) {
	main {
		padding-top: 50px;
	}
}
@media(max-width: 615px) {
	main {
		padding-top: 65px;
	}
}
@media(max-width: 490px) {
	main {
		padding-top: unset;
	}
	.announcement {
		top: -35px;
	}
}
@media(max-width: 450px) {
	main {
		padding-top: 40px;
	}
}